.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  background-color: black;
  color: white;
  padding: 30px 0 30px 0;
}

footer {
  background-color: black;
  color: white;
  padding: 30px 0 30px 0;
  margin-top: 30px;
}

h1 {
  text-align: center;
}

.jobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* // background: red; */
  grid-gap: 30px;
  margin-top: 40px;
}

.job {
  height: 250px;
  padding: 15px;
}

.red {
  border: 10px solid red;
}

.green {
  border: 10px solid green;
}

.yellow {
  border: 10px solid yellow;
}

.blue {
  border: 10px solid blue;
}

.pink {
  border: 10px solid pink;
}
